.group {
  position: absolute;
  z-index: -1;
  top: 0;
}

.main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 800px;
}

.ege {
  color: var(--primary);
}

.rocket {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 330px;
  height: 330px;
}

.pencil {
  width: 160px;
  height: 160px;
  filter: blur(3px);

  position: absolute;
  top: 0;
  right: 20%;
}

.cards__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
  flex-wrap: wrap;
  img {
    width: 20%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 1200px) {
  .rocket {
    bottom: -50%;
    width: 250px;
    height: 250px;
  }

  .pencil {
    right: 10%;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 800px) {
  .cards__container {
    img {
      width: 40%;
    }
  }

  .rocket {
    width: 100px;
    height: 100px;
    right: 0;
  }
  .pencil {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .cards__container {
    img {
      width: 50%;
    }
  }

  // .pencil {
  //   display: none;
  // }

  .rocket {
   display: none;
  }
}
