.admin__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 40px;
}


@media screen and (max-width: 600px) {
    .admin__container {
        padding: 0 20px;
    }
    
}