.counter__exam {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


@media screen and (max-width: 600px) {
    .counter__exam {
        height: 200px;
    }  
}