.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 32px;
    padding: 10px;
    background: var(--bg);
    box-shadow: var(--box-shadow);
  }

  p {
    max-width: 350px;
  }
}

.card__reverse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: end;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .container {
    gap: 50px;
  }

  .content {
    gap: 40px;
  }

  .card {
    flex-direction: column;
    text-align: center;
    gap: 10px;

    img {
      width: 100%;
    }
  }

  .card__reverse {
    flex-direction: column-reverse;
    text-align: center;
    gap: 10px;
  }

  .container {
    gap: 50px;
    margin-bottom: 100px;
  }
}
