.link {
  color: var(--primary);
  text-decoration: none;
  font-weight: var(--fw_extra_bold);
  font-size: var(--tiny);
  transition: color 0.2s;
  cursor: pointer;
  display: inline;
  text-align: center;
}

.link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: width 0.3s cubic-bezier(.4,0,.2,1);
  margin: 0 auto;
}

.link:hover,
.link:focus {
  color: #3366ff;
}

.link:hover::after,
.link:focus::after {
  width: 100%;
}
