.input__container {
    position: relative;
    margin: 16px 0;

    & label {
        position: absolute;
        top: 16px;
        left: 24px;
        font-size: var(--tiny);
        font-weight: var(--fw_light);
        color: var(--text);
        background: var(--bg);
        padding: 0 6px;
        border-radius: 8px;
        pointer-events: none;
        transition: all 0.2s cubic-bezier(.4,0,.2,1);
    }

    & input {
        width: 100%;
        border: 1.5px solid var(--primary);
        border-radius: 32px;
        padding: 18px 24px 10px 24px;
        background-color: var(--bg);
        color: var(--text);
        font-size: var(--base);
        font-weight: var(--fw_light);
        outline: none;
        box-shadow: 0 2px 12px 0 #639aff22;
        transition: border 0.2s, box-shadow 0.2s;
    }

    & input:focus {
        border: 2px solid var(--primary);
        box-shadow: 0 4px 24px 0 #639aff44;
    }

    & input:focus ~ label,
    & input:not(:placeholder-shown):not([value=""]) ~ label {
        top: -12px;
        left: 18px;
        font-size: var(--small);
        color: var(--primary);
        background: var(--bg);
        padding: 0 6px;
    }
}