# Исключить папки из Git
_notGit/
Uploads/
logs/

# Исключить файл логов
logs/app.log


# Исключить виртуальное окружение
venv/
env/

# Исключить файл с переменными окружения
.env

# Игнорировать настройки среды
.idea/
*.iml
