# Исключить папки из Git
_notGit/
Uploads/
logs/

# Исключить файл логов
logs/app.log

# Исключить файл с логикой базы данных
Database.py

# Исключить виртуальное окружение
venv/
env/

# Исключить файл с переменными окружения
.env