<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список учеников</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"> <!-- Подключаем CSS -->
</head>
<body>
    <h1 id="students-title">Список студентов</h1>
    <div id="students-list">
        <p>Загрузка студентов...</p>
    </div>

    <script>
        async function loadStudents() {
            try {
                // Получаем список студентов
                const response = await fetch(`/students/api/`);
                const students = await response.json();
                console.log(students); // логирование в консоль

                // Выводим список студентов
                const studentsListContainer = document.getElementById("students-list");
                studentsListContainer.innerHTML = ""; // Очищаем сообщение "Загрузка студентов..."

                if (students.length === 0) {
                    studentsListContainer.innerHTML = "<p>Студенты не найдены.</p>";
                    return;
                }
                console.log(students);
                const ul = document.createElement("ul");
                students.forEach(student => {
                    const li = document.createElement("li");


                    li.innerHTML = `Студент: <a href="/students_subtasks/StudentTask/${student.ID}">${student.Login}</a> - ${student.First_Name} ${student.Last_Name}`;
                    ul.appendChild(li);
                });

                studentsListContainer.appendChild(ul);
            } catch (error) {
                console.error("Ошибка при загрузке студентов", error);
                document.getElementById("students-list").innerHTML = "<p>Ошибка при загрузке студентов.</p>";
            }
        }

        // Загружаем список студентов
        loadStudents();
    </script>
</body>
</html>