
<!-- Templates/Tasks/tasks.html -->
{% extends "base.html" %}

{% block title %}Список учеников{% endblock %}
{% block title_1 %}Список учеников{% endblock %}
{% block content %}
    <div id="students-list">
        <p>Загрузка студентов...</p>
    </div>
    <script>
        async function loadStudents() {
            try {
                // Получаем список студентов
                const response = await fetch(`/students/api/`);
                const students = await response.json();
                console.log(students); // логирование в консоль

                // Выводим список студентов
                const studentsListContainer = document.getElementById("students-list");
                studentsListContainer.innerHTML = ""; // Очищаем сообщение "Загрузка студентов..."

                if (students.length === 0) {
                    studentsListContainer.innerHTML = "<p>Студенты не найдены.</p>";
                    return;
                }

                const ul = document.createElement("ul");
                students.forEach(student => {
                    const li = document.createElement("li");


                    li.innerHTML = `Студент: <a href="/students_subtasks/StudentTask/${student.ID}">${student.Login}</a> - ${student.First_Name} ${student.Last_Name}`;
                    ul.appendChild(li);
                });

                studentsListContainer.appendChild(ul);
            } catch (error) {
                console.error("Ошибка при загрузке студентов", error);
                document.getElementById("students-list").innerHTML = "<p>Ошибка при загрузке студентов.</p>";
            }
        }

        // Загружаем список студентов
        loadStudents();
    </script>
{% endblock %}