<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задачи пользователя</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"> <!-- Подключаем CSS -->
</head>
<body>
    <h1 id="subtask-title">Задачи пользователя</h1>
    <div id="user-tasks">
        <p>Загрузка задач...</p>
    </div>

    <script>
        // Получаем user_id из URL (например, /tasks/user/1)
        const urlParts = window.location.pathname.split("/");
        const StudentID = urlParts[urlParts.length - 1]; // Берем последний элемент URL

        async function loadUserTasks() {
            try {
                // Получаем задачи пользователя по user_id
                const response = await fetch(`/students_subtasks/api/${StudentID}`);
                const tasks = await response.json();
                console.log(tasks); // логирование в консоль api
                document.getElementById("subtask-title").innerHTML = `Задачи пользователя: <strong>${tasks[1].Login}</strong>`;

                // Выводим список задач
                const taskListContainer = document.getElementById("user-tasks");
                taskListContainer.innerHTML = ""; // Очищаем сообщение "Загрузка задач..."

                if (tasks.length === 0) {
                    taskListContainer.innerHTML = "<p>У пользователя нет задач.</p>";
                    return;
                }

                const ul = document.createElement("ul");
                tasks.forEach(task => {
                    const li = document.createElement("li");
                    li.innerHTML = `Задача: ${task.SubTaskID} - ${task.CompletionStatus}`;
                    ul.appendChild(li);
                });

                taskListContainer.appendChild(ul);
            } catch (error) {
                console.error("Ошибка при загрузке задач", error);
                document.getElementById("user-tasks").innerHTML = "<p>Ошибка при загрузке задач.</p>";
            }
        }

        // Загружаем задачи пользователя
        loadUserTasks();
    </script>
</body>
</html>