<!-- Templates//.html -->
{% extends "base.html" %}

{% block title %}Список категорий{% endblock %}
{% block title_1 %}Задачи студента: {{ tasks[0].Login }}{% endblock %}
{% block content %}
<style>
        .back-button {
            display: inline-block;

            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 6px;
            transition: background-color 0.3s ease;
        }

        .back-button:hover {
            background-color: #0056b3;
        }
</style>
    <a href="/students/List/" class="back-button">Назад к списку</a>
    <ul id="task-list"></ul>

    <script>


        const tasks = {{ tasks | tojson }};
        //console.log('StudentTaskID:', StudentTaskID);
        console.log('tasks:', tasks.StudentTaskID);
        console.log('tasks:', tasks);
        const ul = document.getElementById("task-list");

        tasks.forEach(task => {
            const li = document.createElement("li");
            //li.innerHTML = `Задача: <a href="/students_subtasks/T/${task.StudentTaskID}">${task.SubTaskID}</a> - ${task.CompletionStatus}`;
            li.innerHTML = `Задача: <a href="http://${location.host}/students_subtasks/T/${task.StudentTaskID}">${task.SubTaskID}</a> - ${task.CompletionStatus} ${task.TaskTitle} ${task.TaskTitle}`;
            ul.appendChild(li);
        });
    </script>
{% endblock %}

