<!-- Templates/Students/Task.html -->
{% extends "base.html" %}

{% block title %}Задача{% endblock %}
{% block title_1 %}Информация о задаче №{{subtask.SubTaskID}}{% endblock %}
{% block content %}
 <style>
        body {
            font-family: Arial, sans-serif;
            background: #f5f7fa;
            margin: 40px;
            color: #333;
        }

        .form-wrapper {
            max-width: 600px;
            margin: 40px auto;
            padding: 20px 30px;
            background: #ffffff;
            border-radius: 12px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            color: #007bff;
        }

        .field {
            margin-bottom: 20px;
        }

        .field label {
            display: block;
            font-weight: 600;
            margin-bottom: 6px;
        }

        .field .value {
            padding: 10px;
            background: #f1f1f1;
            border-radius: 5px;
            border: 1px solid #ccc;
            white-space: pre-wrap;
        }

        .inline-field {
            display: flex;
            align-items: center;
        }

        .inline-field label {
            margin-right: 10px;
            min-width: 50px; /* можно подстроить под нужную ширину */
            margin-bottom: 0; /* убираем отступ снизу */
        }

        .inline-field .value {
             text-align: center;
            max-width: 150px;
            flex: 1;
            padding: 0;
            background: #f1f1f1;
            border-radius: 5px;
            border: 1px solid #ccc;
            white-space: pre-wrap;
            text-overflow: ellipsis;
        }

        .image-preview {
            margin-top: 20px;
        }

        .image-preview img {
            max-width: 100%;
            border-radius: 8px;
            border: 1px solid #ccc;
            cursor: pointer;
            transition: transform 0.2s;
        }

        .image-preview img:hover {
            transform: scale(1.02);
        }

        .back-link {
            display: block;
            margin-top: 30px;
            text-align: center;
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }

        .back-link:hover {
            text-decoration: underline;
        }

     <!-- Стиль для кнопки (Надо вынести в общий файл) -->
        .center-wrapper {
            display: flex;
            justify-content: center;   /* по горизонтали */
            align-items: center;       /* по вертикали */
            height: 100vh;             /* например, на весь экран */
        }

        .btn-primary {
            margin-top: 0px;
            background-color: #d63384;
            color: white;
            font-weight: 600;
            padding: 12px 20px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 16px;
            width: 400px;
            transition: background-color 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }
    </style>
    <div class="form-wrapper">
        <h2>{{ subtask.TaskTitle }} {{ subtask.Description }}</h2>
        <div class="inline-field">
            <label>Статус:</label>
            <div class="value">{{ subtask.CompletionStatus }}</div>
        </div>
        {% if subtask.ImagePath %}
        <div class="field image-preview">
            <label>id={{subtask.SubTaskID}}</label>
            <!--<img id="image" src="{{ request.base_url }}{{ subtask.ImagePath }}" alt="Изображение подзадачи">-->
            <img id="image" src="/{{ subtask.ImagePath }}" alt="Изображение подзадачи">

        </div>
        {% endif %}




 <!--
        <form id="solutionForm" action="/students_subtasks/submit-solution/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="ID" value="{{ student.ID }}">
            <input type="hidden" name="SubTaskID" value="{{ subtask.SubTaskID }}">
            <input type="hidden" name="StudentTaskID" id="{{ subtask.student_task_id }}">
            <div class="field">
                <label for="solutionText">Решение:</label>
                <textarea id="solutionText" name="solution_text" rows="5"
                          placeholder="Вставьте изображение решения сюда (Ctrl+V или перетащите файл)"
                          style="width: 100%; height: 80px; padding: 10px; border-radius: 6px; border: 1px solid #ccc; resize: vertical;"></textarea>
            </div>

            Скрытое поле для файла
            <input type="file" name="solution_file" id="solutionFileInput" style="display:none;">

          Превью картинки
            <div id="solution-preview" style="margin-top: 10px;"></div>

            <button type="submit" class="btn-primary">Отправить</button>
        </form>
-->
    {% if subtask.SolutionPath and subtask.Role == "admin"%}

        <div class="field image-preview">
            <label>Решение</label>
            <img class="clickable-image" src="/{{ subtask.SolutionPath }}" alt="Изображение решения">
        </div>
        {% endif %}

        <form action="/students_subtasks/submit-solution/" method="post" enctype="multipart/form-data">
          <input type="hidden" name="ID" value="2" />
          <input type="hidden" name="SubTaskID" value="1" />
          <input type="hidden" name="StudentTaskID" value="3" />


            <div class="field">

                <label for="userAnswer">Ваш ответ:</label>
                <input type="text" class="value" id="userAnswer" name="userAnswer" value="{{ user_answer or '' }}" required>
                <button type="button" id="submitBtn" class="btn-primary">Проверить</button>
                <!--<label for="solution_file">Файл решения:</label>
                <input type="file" id="solution_file" name="solution_file" />
                    <pre>Путь к решению студента: {{ subtask.SolutionStudentPath or "Путь не задан" }}</pre>-->
                <!-- Решение -->
                <div class="field">
                    <label for="StudentSolutionText">Решение:</label>
                    <textarea id="StudentSolutionText" name="StudentSolutionText" rows="5"
                              placeholder="Введите решение или вставьте изображение решения сюда"
                              style="width: 100%; height: 80px; padding: 10px; border-radius: 6px; border: 1px solid #ccc; resize: vertical;"></textarea>
                </div>
                <input type="file" name="StudentSolutionFile" id="StudentSolutionFileInput" style="display:none;">
                <div id="StudentSolution-preview" style="margin-top: 10px;"></div>

                    {% if subtask.SolutionStudentPath %}
                        <div class="field image-preview">
                            <label>Ваше текущее решение:</label>
                            <img src="/{{ subtask.SolutionStudentPath }}" alt="Решение студента" class="clickable-image" style="max-width: 100%; border-radius: 8px; border: 1px solid #ccc;">
                        </div>
                    {% endif %}
            </div>
            <p id="statusMessage"></p>
        </form>

        <!--Проверка на роль админа (при условии что данное поле имеется в subtask-->
        {% if subtask.Role == "admin" %}
         <div class="field">
            <label>Ответ:</label>
            <div class="value">{{ subtask.Answer }}</div>
        </div>
        {% endif %}

        <a href="{{ request.query_params.get('return_url', '/tasks') }}" class="back-link">← Вернуться к списку</a>
    </div>

    <script>
        // Заголовок
        //document.getElementById("title_1").textContent = `Задача №${subtask.SubTaskID} (id=${subtask.TaskID})`;


        // Работа с изображением
        const image = document.getElementById("image");
        if (image) {
            image.addEventListener("click", () => {
                const imageUrl = image.getAttribute("src");
                window.open(imageUrl, "_blank");
            });
        }
        document.querySelectorAll(".clickable-image").forEach(image => {
            image.addEventListener("click", () => {
                const imageUrl = image.getAttribute("src");
                window.open(imageUrl, "_blank");
            });
        });
        //console.log('subtask:', subtask);



   // Скрипт для кнопки проверки ответа
        document.getElementById("submitBtn").addEventListener("click", async () => {
        const answer = document.getElementById("userAnswer").value;
        const subtaskId = {{ subtask.SubTaskID }};
        const studentId = {{ student.ID }}; // если нужно
        console.log('subtaskId:', subtaskId);
        console.log('studentId:', studentId);
        console.log('answer:', answer);
        try {
            const response = await fetch("/students_subtasks/check-answer/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    studentId: studentId,
                    subtaskId: subtaskId,
                    student_answer: answer
                })
            });

            const statusEl = document.getElementById("statusMessage");

            if (response.ok) {

                const result = await response.json();
                console.log('result:', result.status);
                alert("Результат: " + result.status);
                if (statusEl) statusEl.textContent = "Ответ проверен.";
            } else {
                const text = await response.text();
                console.error("Ошибка при проверке ответа:", text);
                if (statusEl) statusEl.textContent = "Ошибка на сервере.";
                alert("Ошибка на сервере: " + text);
            }
        } catch (error) {
            console.error("Ошибка при отправке:", error);
            alert("Произошла ошибка при отправке запроса.");
        }
    });
    //console.log('subtask:', subtask);

     function handlePaste(event, inputId, previewId) {
    const items = event.clipboardData.items;
    for (let i = 0; i < items.length; i++) {
        const item = items[i];
        if (item.type.indexOf("image") !== -1) {
            const file = item.getAsFile();

            // Помещаем файл в input[type=file]
            const dataTransfer = new DataTransfer();
            dataTransfer.items.add(file);
            const input = document.getElementById(inputId);
            input.files = dataTransfer.files;

            // Отображаем превью
            const preview = document.getElementById(previewId);
            const img = document.createElement("img");
            img.src = URL.createObjectURL(file);
            img.style.maxWidth = "500px";
            img.style.maxHeight = "400px";
            img.style.display = "block";
            img.style.border = "1px solid #ccc";
            img.style.marginTop = "10px";
            img.style.borderRadius = "6px";
            preview.innerHTML = '';
            preview.appendChild(img);

            event.preventDefault(); // не вставлять в текст
            break;
            }
        }
    }
        // Обработка для поля "Решение"
        document.getElementById("StudentSolutionText").addEventListener("paste", function (event) {
            handlePaste(event, "StudentSolutionFileInput", "StudentSolution-preview");
        });



    </script>

 {% endblock %}