.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding:20px;
  margin: 0 0 150px 0;

}

.group {
  position: absolute;
  z-index: -1;
  top: -40%;
}

.right {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group__black {
  position: absolute;
  z-index: -2;
  right: -20%;
}

.male {
  position: absolute;
  z-index: -1;
  right: -100%;
}

.wave {
  position: absolute;
  bottom: 0;
  z-index: -3;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    margin: 0;
  }

  .right {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 100px 0;
  }

  .group {
    top: 0%;
    left: -20%;
  }
  .form {
    width: 100%;
  }
}
