/* @import "tailwindcss"; */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--primary);
  --font-sans: var(--rubik);
  --font-mono: var(--jost);
}

:root {
  line-height: 1.5;

  background-color: var(--bg);
  color: var(--text);

  --fw_light: 300;
  --fw_bold: 500;
  --fw_extra_bold: 700;

  --primary: #639aff;
  --secondary: #7ce9f0;
  --purple: #a483ef;
  --peach: #ffcf99;

  --gray: #6b6b6b;
  --light-gray: #c4c4c4;
  --text: #1d1d1d;
  --bg: #ffffff;
  --box-shadow: 0px 0px 5px 0px #0000001a;
  --box-shadow-hover: 0px 0px 10px 0px #0000001a;
  /* --text-light: #1d1d1d;
  --bg-light: #ffffff;
  --box-shadow-light: 0px 0px 10px 0px #0000001a;
  --text-dark: #fff;
  --bg-dark: #242424;
  --box-shadow-dark: 0px 0px 10px 0px #f0f0f01a; */

  --white_secondary: #e8ecfa;
  --white: #ffffff;

  --success: #38a169;
  --error: #e53e3e;
  --warning: #fbbf24;
  /* --success: #2fa84f; */
  --danger: #e5484d;
  --large: 64px;
  --medium: 40px;
  --base: 20px;
  --small: 18px;
  --tiny: 16px;
}

/* [data-theme="dark"] {
  --bg: var(--bg-dark);
  --text: var(--text-dark);
  --box-shadow: var(--box-shadow-dark);
}

[data-theme="light"] {
  --bg: var(--bg-light);
  --text: var(--text-light);
  --box-shadow: var(--box-shadow-light);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}

section {
  margin: 100px 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: var(--rubik), sans-serif;
  font-size: 64px;
  font-weight: 400;
}

label,
li {
  font-family: var(--jost), sans-serif;
}

button {
  font-family: var(--Arsenal), sans-serif;
}

i {
  cursor: pointer;
}

.app {
  font-family: var(--jost), sans-serif;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1440px;
  vertical-align: top;
  padding: 0 20px;
}

.p-component-overlay,
.p-dialog-mask {
  background: rgba(0, 0, 0, 0.5) !important;
  z-index: 1000 !important;
}

.p-dialog {
  border-radius: 16px !important;
  overflow: hidden;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
  background: none;
  border: none;
  box-shadow: none;
  color: var(--text);
  font-size: 1.5rem;
  cursor: pointer;
}

.p-dialog .p-dialog-header {
  position: relative;
  padding-right: 48px;
}

.p-toast-message-content {
  padding: 10px !important;
  border-radius: 16px !important;
  display: flex !important;
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 40px;
  }

  :root {
    --large: 40px;
    --medium: 32px;
    --base: 20px;
    --small: 16px;
    --tiny: 12px;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 32px;
  }

  :root {
    --large: 32px;
    --medium: 24px;
    --base: 16px;
    --small: 12px;
    --tiny: 8px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  :root {
    --large: 32px;
    --medium: 20px;
    --base: 16px;
    --small: 14px;
    --tiny: 12px;
  }

  section {
    margin: 50px 0;
  }
}