.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
  gap: 100px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  position: relative;
  overflow: hidden;
  width: 40%;
  height: 380px;
  border: 1px solid var(--primary);
  border-radius: 32px;
  &:hover {
    box-shadow: var(--box-shadow);

    img {
      filter: brightness(0.8);
      transform: scale(2.2);
    }
  }

  img {
    transition: all 0.3s ease;

    transform: scale(2);
    position: absolute;
    bottom: -50%;
    right: -15%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
  }
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    height: 200px;
  }

  .container {
    gap: 50px;
    min-height: auto;
    margin-bottom: 100px;
  }
  
}