.outside__content {
  width: 100%;
  min-height: 250px;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 32px;
  background-color: var(--bg);
}

.content {
  width: 100%;
  height: 100%;
  padding: 20px;
  // border: 1px solid var(--primary);
  border-radius: 32px;

  background-color: var(--bg);
}
