.greatings {
    display: flex;
    justify-content: space-between;
}

.greatings__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.greatings__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.edit__email {
    display: flex;
    align-items: center;
    gap: 10px;
}