.group {
    position: absolute;
    z-index: -10;

    &.first {
        top: -10%;
        right: 0%;
    }

    &.second {
        top: 15%;
        right: 0;
    }

    &.third {
        bottom: 25%;
        right: 0;
    }

    &.fourth {
        bottom: 0;
        right: 0;
    }
}


@media screen and (max-width: 600px) {
    .group {
        &.second {
            display: none;
        }
    }
}