<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>

    <h1>Добро пожаловать!</h1>

    <p>Добро пожаловать в учебный кабинет. Здесь вы можете просматривать доступные задания и следить за прогрессом.</p>

    <nav>
        <p>Ваша роль: {{ student.Role }}</p>
        <ul>
            {% if student.Role == "admin" %}
                <a href="/admin/">Перейти в админку</a>
            {% endif %}
            <li><a href="/tasks">Категории</a></li>
            <li><a href="/subtasks">Задачи</a></li>
            <li><a href="/my-tasks">Мои задачи</a></li>
            <button onclick="window.location.href='/home/logout'">Выйти</button>
            <script>
              function logout() {
                // Удаляем токен из cookies
                document.cookie = "access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

                // Или из localStorage / sessionStorage
                // localStorage.removeItem("access_token");
                // sessionStorage.removeItem("access_token");

                // Перенаправляем пользователя на страницу входа
                window.location.href = "/home/login_in";
              }
            </script>
        </ul>
    </nav>

    {% if is_admin %}
    <nav>
        <ul>
            <li><a href="/admin">Админка</a></li>
        </ul>
    </nav>
    {% endif %}

</body>
</html>