.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.content__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
}