.breadCrumb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 50px 0px 0px 20px;
}

.span {
    font-size: var(--base);
    color: var(--primary);
    margin: 0 5px
}