.container {
  li {
    list-style: none;
  }
}

.link {
  a {
    text-decoration: none;
    color: var(--text);
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -0.1em;
      left: 50%;
      right: 50%;
      height: 1px;
      background: var(--primary);
      transition: all ease 0.3s;
    }

    &:hover:after {
      left: 0;
      right: 0;
      height: 1px;
    }

    &:before {
      position: absolute;
      transform: translateX(-100%);
      left: -10px;
      color: #eee;
      opacity: 0.3;
      font-weight: 100;
      font-size: 0.8em;
    }

    &:hover {
      color: var(--primary);
    }
  }
}
