<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список задач (JS)</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"> <!-- Подключаем внешний файл CSS -->
</head>
<body>
    <h1>Список задач (через JS)</h1>
    <ul id="task-list"></ul>
<!--Вывод списком (только категории)-->
    <script>
        // Загружаем список задач (данных с API)
        async function loadTasks() {
            try {
                const response = await fetch("/tasks/api/");
                const tasks = await response.json();

                const list = document.getElementById("task-list");
                list.innerHTML = "";

                for (const task of tasks) {
                    console.log("task", task);
                    const li = document.createElement("li");
                    li.innerHTML = `<strong>${task.TaskNumber}: ${task.TaskTitle}</strong><ul id="subtasks-${task.TaskID}"></ul>`;
                    list.appendChild(li);

                }
            } catch (error) {
                console.error("Ошибка при загрузке задач:", error);
            }
        }


        loadTasks();
    </script>
</body>
</html>