.select__container {
    font-family: "Lato" sans-serif;
    display: flex;
    border: 1.5px solid var(--primary);
    border-radius: 32px;
    overflow: hidden;
    background: var(--bg);
    box-shadow: 0 2px 12px 0 #639aff22;
    width: fit-content;
}

.select__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 12px 32px;
    font-size: var(--base);
    font-weight: var(--fw_light);
    color: var(--text);
    transition: background 0.2s, color 0.2s;


    &.active {
        background-color: var(--primary);
        color: var(--bg);
    }
}
