.select {
    max-width: 150px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    background-color: var(--bg);
    font-size: var(--base);
}

.option {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    background-color: var(--bg);
}