.select {
    margin-bottom: 15px;
    width: 100%;
    padding: 15px 25px;
    border-radius: 16px;
    border: 1px solid var(--primary);
    background-color: var(--bg);
    font-size: var(--small);
    font-family: var(--jost);
    appearance: none;
}


.option {
    cursor: pointer;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid var(--primary);
    background-color: var(--bg);
}

.select__container {
    position: relative;
}

.icon {
    position: absolute;
    top: 40%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}

.error {
    text-align: center;
    color: red;
    font-family: "Lato";
    font-size: var(--base);
    text-decoration: none;
}