.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.text {
  padding: 20px;
  width: 70%;
}

.laptop {
  position: absolute;
  bottom: -100px;
  right: -100px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .conteiner {
    gap: 50px;
    margin-bottom: 100px;
  }
  .buttons {
    flex-direction: column;
  }

  .text {
    width: 100%;
  }
}
