<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Учебный Кабинет{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/scripts.js" defer></script>
</head>
<body>
    <!-- Кнопка "Выйти" -->
    <button class="logout-button" onclick="logout()">Выйти</button>
    <script>
        function logout() {
            document.cookie = "access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            //window.location.href = "/home/login_in/"
            window.location.href = "/home/logout/";
        }
    </script>
    <p>Ваша роль: <strong>{{student.Role}}</strong></p>
    <h1 >{% block title_1 %}Добро пожаловать в личный кабинет!{% endblock %}</h1>

    <!-- Общая навигация -->
    <nav>
        <ul>
            {% if student.Role == "admin" %}
            <li><a href="/admin/">Админка</a></li>
            {% endif %}
            <li><a href="/home/">Home</a></li>
            <li><a href="/tasks/">Категории</a></li>
            <li><a href="/subtasks/">Задачи</a></li>
            <li><a href="/students_subtasks/StudentTasksByLogin/?value=2&by=id">Мои задачи</a></li>
        </ul>
    </nav>

    <!-- Контент страницы -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>



</body>
</html>