<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/scripts.js" defer></script>  <!-- Подключаем общий JS файл -->
</head>
<body>

    <header>
        <h1>Добро пожаловать!</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/tasks">Категории</a></li>
            <li><a href="/subtasks">Задачи</a></li>
            <li><a href="/my-tasks">Мои задачи</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <button onclick="window.location.href='/home/logout'">Выйти</button>
    </footer>

</body>
</html>