.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date__container {
    display: flex;
    gap: 10px;
}
.task__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: relative;
}
.icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}


.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.open {
  max-height: 1500px;
}

.icon__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
