<!-- Templates/Tasks/create.html -->
{% extends "base.html" %}

{% block title %}Добавление задачи{% endblock %}
{% block title_1 %}Добавление задачи!{% endblock %}
{% block content %}
    <form action="/subtasks/create_form" method="post" enctype="multipart/form-data">
        <label for="TaskID">Категория (TaskID):</label>
        <input type="number" name="TaskID" required><br>

        <label for="Description">Описание:</label>
        <textarea name="Description"></textarea><br>

        <label for="Answer">Ответ:</label>
        <input type="text" name="Answer"><br>

        <label for="ImagePath">Файл (изображение):</label>
        <input type="file" name="ImageFile"><br>

        <input type="submit" value="Добавить подзадачу">
    </form>
{% endblock %}