{# Templates/Tasks/listTasks.html #}
{% extends "base.html" %}

{% block title %}Список Задач{% endblock %}
{% block title_1 %}Список Задач!{% endblock %}
{% block content %}
    <a href="/subtasks/new/">
    <button class="btn btn-primary">Создать задачу</button>
    </a>
    <ul id="subtask-list"></ul>
<!--Вывод списком (только категории)-->
    <script>
        // Загружаем список задач (данных с API)
        async function loadTaskslist() {
            try {
                const response = await fetch("/subtasks/api/");
                const subtasks = await response.json();

                const list = document.getElementById("subtask-list");
                for (const subtask of subtasks) {
                    console.log("subtask", subtask); //Вывод в консоль браузера
                    const li = document.createElement("li");
                    li.innerHTML = `<a href="/subtasks/${subtask.SubTaskID}">Задача №${subtask.SubTaskID}</strong></a> Категория: <a href="/tasks/${subtask.TaskID}">${subtask.TaskID}</a>`;
                    list.appendChild(li);

                }
            } catch (err) {
                console.error("Ошибка при загрузке подзадач", err);
            }
        }


        loadTaskslist();
    </script>
{% endblock %}
