{% extends "base.html" %}

{% block title %}Категория №{% endblock %}
{% block title_1 %}{% endblock %}
{% block content %}
<style>
#back-button {
        margin-bottom: 20px;
        background-color: #007bff;
        color: white;
        font-weight: 600;
        padding: 12px 20px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        display: inline-block;
        text-decoration: none;
    }

    #back-button:hover {
        background-color: #0056b3;
    }
</style>
    <button id="back-button" onclick="goBack()">⬅ Назад</button>
    <div id="subtask-list"></div>
    <script>
        // Получаем task_id из URL (например, /tasks/js/3 - берется тройка)
        const urlParts = window.location.pathname.split("/");
        const taskId = urlParts[urlParts.length - 1];

        console.log("taskId", taskId); //Вывод в консоль браузера

        async function loadTaskDetails() {
            try {
                // Загружаем данные самой задачи
                const taskRes = await fetch(`/tasks/api/${taskId}`);
                const task = await taskRes.json();
                console.log("task", task);
                document.getElementById("subtask-title").textContent = `${task[0].TaskTitle}`;

            } catch (err) {
                console.error("Ошибка при загрузке задачи", err);
            }
        }

        // загружаем подзадачи
        async function loadSubTasks() {
            try {
                const response = await fetch(`/subtasks/api/TaskID/${taskId}`);
                const subtasks = await response.json();

                console.log("subtasks", subtasks);

                const list = document.getElementById("subtask-list");
                subtasks.forEach(subtask => {
                    const li = document.createElement("li");
                    console.log("subtask", subtask);
                    li.innerHTML = `
                        <strong>${subtask.SubTaskNumber}</strong>: <a href="/subtasks/${subtask.SubTaskID}">${subtask.Description}</a>`;

                    list.appendChild(li);
                });
            } catch (err) {
                console.error("Ошибка при загрузке подзадач", err);
            }
        }

        loadTaskDetails();
        loadSubTasks();

        // Кнопка назад
        document.getElementById("back-button").addEventListener("click", function () {
        const parts = window.location.pathname.split("/").filter(Boolean); // убираем пустые части
        if (parts.length > 1) {
            parts.pop(); // убираем последний сегмент пути
            const parentPath = "/" + parts.join("/");
            window.location.href = parentPath;
        } else {
            // Если остался только "/", возвращаемся на главную
            window.location.href = "/";
        }
    });
    </script>
{% endblock %}