<!-- Templates/Tasks/task.html -->
{% extends "base.html" %}

{% block title %}Добавление задачи{% endblock %}
{% block title_1 %}Добавление задачи!{% endblock %}
{% block content %}
    <style>


    </style>

    <button id="back-button" onclick="goBack()" class="btn btn-back">⬅ Назад</button>
   <div id="subtask-info-container"></div>

    </div>
        <div class="center-wrapper">
            <form action="/subtasks/edit/" method="get">
                <input type="hidden" name="SubTaskID" id="SubTaskID-input">
                {% if student.Role == "admin" %}
                <button type="submit" class="btn btn-edit">Редактировать задачу</button>
                {% endif %}
            </form>
        </div>


    <!-- с помощью JS получаем задачу -->
    <script>
        // для кнопки
        function goBack() {
            window.history.back();
          }
        const baseImageUrl = "/";
        // Получаем subtask_id из URL
        const urlParts = window.location.pathname.split("/");
        const subtaskId = urlParts[urlParts.length - 1];

    // Подставляем значение в скрытое поле формы (для кнопки редактирования)
        document.getElementById("SubTaskID-input").value = subtaskId;
        console.log(subtaskId);

        async function loadSubTaskDetails() {
            try {
                const response = await fetch(`/subtasks/api/${subtaskId}`);
                const subtask = await response.json();


                // Заголовок
            document.getElementById("subtask-title").textContent = `Задача №${subtaskId}`;

            // Контейнер для подробностей
            const container = document.getElementById("subtask-info-container");

            // Формируем HTML с данными из объекта subtask
            container.innerHTML = `
                <div class="info-block">
                    <label>Категория:</label>
                    <div class="value">${subtask.TaskID || "Не указана"}</div>
                </div>
                <div class="info-block">
                    <label>Описание:</label>
                    <div class="value">${subtask.Description || "Нет описания"}</div>
                </div>
                ${
              subtask.ImagePath
                ? `<div class="info-block image-block">
                       <label>Изображение:</label>
                       <img src="${baseImageUrl + subtask.ImagePath}" alt="Изображение подзадачи">
                   </div>`
                : ""
            }
            `;

            } catch (err) {
                console.error("Ошибка при загрузке подзадачи", err);
            }
        }

        loadSubTaskDetails();
    </script>
{% endblock %}