<!-- Templates/Tasks/tasks.html -->
{% extends "base.html" %}

{% block title %}Список категорий{% endblock %}
{% block title_1 %}Список категорий!{% endblock %}
{% block content %}
    <ul id="task-list"></ul>
<!--Вывод списком (только категории)-->
    <script>
        // Загружаем список задач (данных с API)
        async function loadTasks() {
            try {
                const response = await fetch("/tasks/api/");
                const tasks = await response.json();

                const list = document.getElementById("task-list");
                list.innerHTML = "";

                for (const task of tasks) {
                    console.log("task", task);
                    const li = document.createElement("li");
                    li.innerHTML = `<a href="/js/${task.TaskID}"><strong>${task.TaskNumber}: ${task.TaskTitle}</strong></a>`;
                    list.appendChild(li);

                }
            } catch (error) {
                console.error("Ошибка при загрузке задач:", error);
            }
        }


        loadTasks();
    </script>
{% endblock %}

