<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Детали подзадачи</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1 id="subtask-title">Загрузка подзадачи...</h1>
    <div id="subtask-description"></div>

    <script>
        // Получаем subtask_id из URL
        const urlParts = window.location.pathname.split("/");
        const subtaskId = urlParts[urlParts.length - 1];

        async function loadSubTaskDetails() {
            try {
                const response = await fetch(`/subtasks/api/${subtaskId}`);
                const subtask = await response.json();
                console.log(subtask); // логирование в консоль api
                document.getElementById("subtask-title").textContent = `Задача№${subtaskId} ${subtask.SubTaskNumber}`;
                document.getElementById("subtask-description").innerText = `${subtask.Description}`;

                console.log(document.getElementById("subtask-title"));

            } catch (err) {
                console.error("Ошибка при загрузке подзадачи", err);
            }
        }

        loadSubTaskDetails();
    </script>
</body>
</html>