{# Templates/Tasks/listTasks.html #}
{% extends "base.html" %}
<!--страница с вариантом-->
{% block title %}Список Задач{% endblock %}
{% block title_1 %}${variant}{% endblock %}
{% block content %}

<p>вариант № {{variant}}</p>>
<!--<pre>{{ student.__dict__ }}</pre>-->
    <ul id="tasks-list"></ul>

<!--Вывод списка вариантов-->
    <script>
        async function loadVariant() {
                try {
                    const urlParts = window.location.pathname.split("/");
                    const VariantID = urlParts[urlParts.length - 1];
                    const StudentID = {{student.ID}}
                    console.log("VariantID", VariantID); //Вывод в консоль браузера
                    console.log("StudentID", StudentID);

                    const response = await fetch(`/tasks/exec/${VariantID}/${StudentID}`);
                    const variant = await response.json();


                    // Заголовок
                    console.log("variant", variant);
                    //document.getElementById("title_1").textContent = `${variant}`;

                    const container = document.getElementById("tasks-list");
                        variant.forEach(subtask => {
                            const li = document.createElement("li");
                            console.log("subtask", subtask);
                            li.innerHTML = `
                                <a>${subtask.TaskTitle}</a>`;

                            container.appendChild(li);
                        });
                    } catch (err) {
                        console.error("Ошибка при загрузке подзадач", err);
                    }
                }
            loadVariant()
    </script>
{% endblock %}
