{# Templates/Tasks/listTasks.html #}
{% extends "base.html" %}
<!--страница с вариантом-->
{% block title %}Список Задач{% endblock %}
{% block title_1 %}${}{% endblock %}
{% block content %}

<p>вариант № </p>>
<pre>{{ tasks }}</pre>
    <ul id="tasks-list"></ul>
    <div id="task-container"></div>

    <div class="navigation">
        <button onclick="prevTask()">← Назад</button>
        <span id="task-number"></span>
        <button onclick="nextTask()">Вперёд →</button>
    </div>

    <button onclick="submitAnswers()">Отправить ответы</button>
<!--Вывод списка вариантов-->
    <script>
        const tasks = {{ tasks | tojson  }};
        let currentTaskIndex = 0;
        const answers = {};

         function renderTask(index) {
            const task = tasks[index];
            const container = document.getElementById("task-container");
            const userAnswer = answers[task.SubTaskID] || "";

            container.innerHTML = `
                <h3>Задача №${index + 1}</h3>
                <p>${task.Description}</p>
                <input type="text" id="answer-input" value="${userAnswer}" placeholder="Ваш ответ">
            `;

            document.getElementById("task-number").textContent = `${index + 1}  ${tasks.length}`;
        }

         function saveAnswer() {
            const task = tasks[currentTaskIndex];
            const input = document.getElementById("answer-input");
            answers[task.SubTaskID] = input.value;
        }

        function nextTask() {
            saveAnswer();
            if (currentTaskIndex < tasks.length - 1) {
                currentTaskIndex++;
                renderTask(currentTaskIndex);
            }
        }

        function prevTask() {
            saveAnswer();
            if (currentTaskIndex > 0) {
                currentTaskIndex--;
                renderTask(currentTaskIndex);
            }
        }


        async function submitAnswers() {
            saveAnswer();
            const response = await fetch("/submit_answers", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(answers)
            });
            const result = await response.json();
            alert(result.message || "Ответы отправлены!");
        }

        renderTask(currentTaskIndex);
    </script>
{% endblock %}
