{# Templates/Tasks/variants.html #}
<!--страница с вариантами-->
{% extends "base.html" %}

{% block title %}Список Задач{% endblock %}
{% block title_1 %}Список Задач!{% endblock %}
{% block content %}


    <ul id="variants-list"></ul>

<!--Вывод списка вариантов-->
    <script>
        async function loadVariants() {
            try {
                const response = await fetch(`/tasks/api/variants`);
                const variants = await response.json();


                // Заголовок
                console.log("variants", variants);
                //document.getElementById("subtask-title").textContent = `${}`;

                const container = document.getElementById("variants-list");
                    variants.forEach(variant => {
                        const li = document.createElement("li");
                        console.log("variant", variant);
                        li.innerHTML = `
                            <a href="/variants/${variant.VariantID}">${variant.Name}</a>`;

                        container.appendChild(li);
                    });
                } catch (err) {
                    console.error("Ошибка при загрузке подзадач", err);
                }
            }
        loadVariants()
    </script>
{% endblock %}
